/* Show it's not fixed to the top */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
  min-height: 75rem;
}
html, body{
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
div[id="events-list"], div[id="performers-list"]{
  padding-top: 40px;
}
li{
  margin-right: 10px;
  margin-left: 10px;
}
.nav-link{
  margin-top: 0;
}
/*.navbar {
  padding-left: 60px;
  padding-right: 60px;
}*/
/*
html, body{
  margin:0px;
  padding:0px;
}
*/
