/* Show it's not fixed to the top */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
  min-height: 75rem;
}
html, body{
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
div[id="events-list"]{
  padding-top: 40px;
}
.navbar {
  padding-left: 40px;
  padding-right: 40px;
}
/*
html, body{
  margin:0px;
  padding:0px;
}
*/
